<% include ../_head %>
  <% include ../_nav %>

  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Users</h1>
        <h5><a href="/admin">back</a></h5>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <dl>
          <dt>Count:</dt>
          <dd><%=users.length%></dd>
        </dl>
      </div>
      <div class="span6">
        <a href="/admin/users/set-school-by-email" target="_blank">Set schools from emails</a>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>School</th>
              <th>Resume</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user){%>
            <tr>
              <td><%=user.email%></td>
              <td><%=user.school_name%></td>
              <td><%if (user.hasResume) {%><a href="/admin/users/<%=user.id%>/resume/<%=user.resume_name%>" target="_blank"><%=user.resume_name%></a><%}else{%>&mdash;<%}%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% include ../_foot %>