<% include ../_head %>
  <% include ../_nav %>

  <div class="main">
    <% include ../_left_nav %>

    <div class="account">
      <div class="container">

        <!-- Profile Card -->
        <div class="row profile-info">
          <div class="span9 profile-card">
            <img class="banner" src="/images/account-banner.png" alt="" />
            <div class="profile-image">
              <img src="<%=user.avatar_large%>" alt="[Profile Picture]"/>
              <div class="arrow"></div>
            </div>
            <div class="profile-information">
              <h1><%=user.name || "Student"%></h1>
              <div class="information">
                <i class="icon icon_bulb"></i><%=user.school_name%>
              </div>
              <div class="information">
                <i class="icon icon_lab"></i>Major: <%=user.major_string%>
              </div>
              <div class="information">
                <i class="icon icon_study"></i><%if(user.graduated){%>Graduated: <%=user.graduation_date%><%}else{%>Graduating: <%=user.graduation_date%><%}%>
              </div>
              <div class="information bottom">
                <i class="icon icon_mail"></i><%=user.email%> <%if(!user.confirmed){%><small>A message has been sent to you to confirm your email address. [<a href="/account/confirm_email_resend">Resend</a>]</small><%}%>
              </div>
              <div class="information bottom right">
                <% if (user.urls.github){%><a href="<%=user.github_url%>" target="_blank"><i class="icon icon_github"></i></a><%}%>
                <% if (user.urls.twitter){%><a href="<%=user.twitter_url%>" target="_blank"><i class="icon icon_twitter"></i></a><%}%>
                <% if (user.urls.linkedin){%><a href="<%=user.linkedin_url%>" target="_blank"><i class="icon icon_linkedin"></i></a><%}%>
                <% if (user.urls.facebook){%><a href="<%=user.facebook_url%>" target="_blank"><i class="icon icon_facebook"></i></a><%}%>
                <% if (user.urls.personal){%><a href="<%=user.personal_url%>" target="_blank"><i class="icon icon_world"></i></a><%}%>
              </div>
            </div>
          </div>
        </div>


        <!-- Welcome text -->
        <div class="row">
          <div class="span12 welcome-message">
            <p>
              Welcome to your profile page. This card is how you will appear to other people and companies. Be sure to keep your information up to date!
            </p>
          </div>
        </div>


        <form enctype="multipart/form-data" method="POST" action="/account">



        <!-- Name settings -->
        <div class="profile-settings">
          <h1>Name:</h1>
          <div class="row">
            <div class="span4">
              <label>First:</label>
              <div class="value">
                <input type="text" name="user.firstName" value="<%=user.firstName||''%>"/>
              </div>
            </div>

            <div class="span4">
              <label>Middle <small>(optional)</small>:</label>
              <div class="value">
                <input type="text" name="user.middleName" value="<%=user.middleName||''%>"/>
              </div>
            </div>

            <div class="span4">
              <label>Last:</label>
              <div class="value">
                <input type="text" name="user.lastName" value="<%=user.lastName||''%>"/>
              </div>
            </div>

          </div>
        </div>


        <!-- STUDY settings -->
        <div class="profile-settings study-settings">
          <div class="row">
            <div class="span6">
              <h1>Major:</h1>
              <div class="value">
                <div id="major-list">
                  <%if(user.major.length==0){%>
                  <input type="text" name="user.major[]" value=""/>
                  <%}%>
                  <%user.major.forEach(function(major){%>
                  <input type="text" name="user.major[]" value="<%=major||''%>"/>
                  <%})%>
                </div>
                <div class="add" onClick="$('#major-list input:last-child').clone().val('').appendTo('#major-list')">+ add</div>
              </div>
            </div>

            <div class="span6">
              <h1>Minor:</h1>
              <div class="value">
                <div id="minor-list">
                  <%if(user.minor.length==0){%>
                  <input type="text" name="user.minor[]" value=""/>
                  <%}%>
                  <%user.minor.forEach(function(minor){%>
                  <input type="text" name="user.minor[]" value="<%=minor||''%>"/>
                  <%})%>
                </div>
                <div class="add" onClick="$('#minor-list input:last-child').clone().val('').appendTo('#minor-list')">+ add</div>
              </div>
            </div>

          </div>
        </div>


        <!-- Resume information -->
        <div class="profile-settings">
          <h1>Resume:</h1>
          <div class="row">
            <div class="span6">
              <label for="resume">Locate your resume</label>
              <div class="file-group">
                <input type="text" id="upload-resume" onFocus="document.getElementById('resume').click();this.blur()"/>
                <button type="button" class="btn resume-upload" style="position: relative;">
                  Upload
                  <input type="file" name="resume" id="resume" style="position: absolute; top:0; left:0; width: 100%; height:100%; margin:0; padding:0; opacity:0;" title="Upload your resumé" onChange="document.getElementById('upload-resume').value=this.value.split(/(\\|\/)/g).pop()" onClick="uploadResume()">
                </button>
              </div>
            </div>

            <div class="span6">
              <label>Current:</label>
              <div class="value" id="current-resume">
                <%if (user.hasResume) {%><a href="<%=user.resume_url%>" target="_blank">Download Resume</a><%}else{%>none<%}%>
              </div>
            </div>

          </div>
        </div>


        <!-- Graduation settings -->
        <div class="profile-settings">
          <h1>Expected Graduation Date:</h1>
          <div class="row">
            <div class="span2">
              <label>Month:</label>
              <div class="value">
                <select name="user.graduation.month">
                  <option value="1"<%if(user.graduation_month==1){%> selected<%}%>>January</option>
                  <option value="2"<%if(user.graduation_month==2){%> selected<%}%>>February</option>
                  <option value="3"<%if(user.graduation_month==3){%> selected<%}%>>March</option>
                  <option value="4"<%if(user.graduation_month==4){%> selected<%}%>>April</option>
                  <option value="5"<%if(user.graduation_month==5){%> selected<%}%>>May</option>
                  <option value="6"<%if(user.graduation_month==6){%> selected<%}%>>June</option>
                  <option value="7"<%if(user.graduation_month==7){%> selected<%}%>>July</option>
                  <option value="8"<%if(user.graduation_month==8){%> selected<%}%>>August</option>
                  <option value="9"<%if(user.graduation_month==9){%> selected<%}%>>September</option>
                  <option value="10"<%if(user.graduation_month==10){%> selected<%}%>>October</option>
                  <option value="11"<%if(user.graduation_month==11){%> selected<%}%>>November</option>
                  <option value="12"<%if(user.graduation_month==12){%> selected<%}%>>December</option>
                </select>
              </div>
            </div>

            <div class="span2">
              <label>Year:</label>
              <div class="value">
                <select name="user.graduation.year">
                  <% yearSet.forEach(function(i){ %>
                  <option value="<%=i%>"<%if(user.graduation_year==i){%> selected<%}%>><%=i%></option>
                  <%})%>
                </select>
              </div>
            </div>

          </div>
        </div>


        <!-- Website Settings -->
        <div class="profile-settings">
          <h1>Websites:</h1>


          <div class="row">
            <div class="span5">
              <label>Personal:</label>
              <div class="value">
                <div class="input-prepend">
                  <span class="add-on">http://</span>
                  <input class="span2" style="width: 349px;" name="user.urls.personal" type="text" placeholder="personal website" value="<%=user.urls.personal||''%>">
                </div>
              </div>
            </div>
<!--           </div>

          <div class="row"> -->
            <div class="span5">
              <label>LinkedIn:</label>
              <div class="value">
                <div class="input-prepend">
                  <span class="add-on">linkedin.com/in/</span>
                  <input class="span2" style="width: 285px;" name="user.urls.linkedin" type="text" placeholder="LinkedIn" value="<%=user.urls.linkedin||''%>">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span5">
              <label>Github:</label>
              <div class="value">
                <div class="input-prepend">
                  <span class="add-on">github.com/</span>
                  <input class="span2" style="width: 309px;" name="user.urls.github" type="text" placeholder="github username" value="<%=user.urls.github||''%>">
                </div>
              </div>
            </div>
<!--           </div>

          <div class="row"> -->
            <div class="span5">
              <label>Twitter:</label>
              <div class="value">
                <div class="input-prepend">
                  <span class="add-on">@</span>
                  <input class="span2" style="width: 378px;" name="user.urls.twitter" type="text" placeholder="twitter handle" value="<%=user.urls.twitter||''%>">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span5">
              <label>Facebook:</label>
              <div class="value">
                <div class="input-prepend">
                  <span class="add-on">facebook.com/</span>
                  <input class="span2" style="width: 288px;" name="user.urls.facebook" type="text" placeholder="facebook url" value="<%=user.urls.facebook||''%>">
                </div>
              </div>
            </div>
          </div>
        </div>




        <!-- Save information -->
        <div class="profile-settings submit-buttons">
          <div class="row">
            <div class="span6">
              <button class="submit green" type="submit">Save</button>
            </div>
            <div class="span6">
              <a class="btn more" href="mailto:team%40jokudo.com?subject=More%20Profile%20Information&body=Hey%2C%20%0A%0APlease%20let%20us%20know%20what%20information%20you%20would%20like%20to%20be%20able%20to%20share%2C%20and%20we%20will%20be%20sure%20to%20include%20it%20in%20the%20next%20iteration!%20%0A%0AYour%20feedback%20is%20incredibly%20important%20to%20us%0A%0A-%20The%20Jokudo%20Team!" target="_blank">I have some info I would like to post but you dont have a spot for me to add it</a>
            </div>
          </div>
        </div>


        </form>


      </div>
    </div>
  </div>

  <% include ../_footer %>
<% include ../_foot %>